
# Sample Solutions

## Section 1: Introduction to Python & Jupyter Notebooks

### Exercise 1: Write a Python program that prints your favorite color.

In [ ]:
print("Blue")

### Exercise 2: Write a Python program that prints two different messages, each on a new line.

In [ ]:
print("Good morning!")
print("Welcome to programming!")

### Exercise 3: Add a comment above each print statement explaining what it does.

In [ ]:
# This prints my favorite animal
print("Cat")
# This prints my favorite food
print("Pizza")


## Section 2: Variables and Data Types

### Exercise 1: Create a variable called `city` and assign it the name of your city.

In [ ]:
city = "Berlin"

### Exercise 2: Create a variable called `temperature` and assign it a decimal value.

In [ ]:
temperature = 18.5

### Exercise 3: Create a variable called `is_raining` and assign it a boolean value.

In [ ]:
is_raining = False

### Exercise 4: Print the type of each variable using `type()`.

In [ ]:
print(type(city))
print(type(temperature))
print(type(is_raining))


## Section 3: Simple Math with Python

### Exercise 1: Calculate the sum of 8 and 12.

In [ ]:
result = 8 + 12
print(result)  # Output: 20

### Exercise 2: Subtract 5 from 20.

In [ ]:
result = 20 - 5
print(result)  # Output: 15

### Exercise 3: Multiply 4 by 7.

In [ ]:
result = 4 * 7
print(result)  # Output: 28

### Exercise 4: Divide 36 by 6.

In [ ]:
result = 36 / 6
print(result)  # Output: 6.0