
# Solutions: Functions, Lists, Sets, Tuples, Dictionaries, and Error Handling in Python

This notebook contains sample solutions for the exercises in the tutorial notebook.


## 1. Functions
### Exercise 1
Write a function called `add_numbers` that takes two numbers and returns their sum.

In [ ]:

def add_numbers(a, b):
    return a + b

# Example usage:
result = add_numbers(3, 5)
print(result)  # Output: 8


### Exercise 2
Write a function `is_even` that takes a number and prints "Even" if the number is even, otherwise prints "Odd".

In [ ]:

def is_even(n):
    if n % 2 == 0:
        print("Even")
    else:
        print("Odd")

is_even(4)  # Output: Even
is_even(7)  # Output: Odd


## 2. Lists
### Exercise 1
Create a list of your three favorite movies and print it.

In [ ]:

favorite_movies = ["Inception", "The Matrix", "Interstellar"]
print(favorite_movies)


### Exercise 2
Add another movie to your list and print the updated list.

In [ ]:

favorite_movies.append("The Lion King")
print(favorite_movies)


## 3. Sets
### Exercise 1
Create a set with the numbers 1, 2, 3, 4, 5. Then add the number 6 to the set.

In [ ]:

numbers = {1, 2, 3, 4, 5}
numbers.add(6)
print(numbers)


### Exercise 2
Try adding the number 3 again to the set. What happens?

In [ ]:

numbers.add(3)
print(numbers)  # The set does not change because 3 is already present.


## 4. Tuples
### Exercise 1
Create a tuple with your birth year, birth month, and birth day.

In [ ]:

birthday = (1990, 5, 15)
print(birthday)


### Exercise 2
Try changing one value in your tuple. What happens?

In [ ]:

# Uncommenting the next line will cause an error because tuples are immutable:
# birthday[0] = 2000  # TypeError: 'tuple' object does not support item assignment


## 5. Dictionaries
### Exercise 1
Create a dictionary for a book with keys: `title`, `author`, and `year`.

In [ ]:

book = {"title": "1984", "author": "George Orwell", "year": 1949}
print(book)


### Exercise 2
Add a new key `pages` to your dictionary and assign it a value.

In [ ]:

book["pages"] = 328
print(book)


## 6. Error Handling
### Exercise 1
Write code that tries to convert the string "abc" to an integer using `int()`. Handle the error with a `try`/`except` block and print a friendly message.

In [ ]:

try:
    number = int("abc")
except ValueError:
    print("Oops! That was not a valid number.")


### Exercise 2
Write code that asks the user for a number and prints its reciprocal (1 divided by the number). Handle the case where the user enters 0.

In [ ]:

try:
    num = float(input("Enter a number: "))
    print("Reciprocal:", 1/num)
except ZeroDivisionError:
    print("Cannot divide by zero!")
except ValueError:
    print("Please enter a valid number.")